
.menu{
  background-color: #fff;
  display: flex;
  flex-direction: row;
  min-height: 14vh;
  max-height: 15vh;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.menu .logo{
  width: 20%;
}
.menu .links{
  display: none;
}
.menu .links a{
  color: #333;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 20px 15px;
}
@media(min-width: 768px){
  .menu{
    justify-content: space-between;
  }
  .menu .logo img{
    width: 30%;
  }
  .menu .links{
    display: block;
    position: absolute;
    right: 0.5rem;
    top: 0.6rem;
    width: 34%;
  }
  .menu .links a{
    display: inline-block;
  }
}
.banner_topo {
  background-image: url("https://images5.alphacoders.com/458/458529.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.banner_topo .container {
  padding: 10rem 0;
}
.banner_topo .container h1 {
  font-size: 4rem;
  text-transform: uppercase;
}
.banner_topo .container p {
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .banner_topo {
    min-height: 39rem;
  }
  .banner_topo .container {
    padding: 15rem 0 10rem 0;
  }
  .banner_topo .container h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 6rem;
  }
}
/*section*/
section .container {
  padding: 3rem 0;
}
section .container h2,
section .container h3,
section .container h4,
section .container p,
section .container small {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section .container h2 {
  font-size: 2rem;
}
section .container p {
  font-size: 1.2rem;
}
.snip1577 {
  font-family: 'Montserrat', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 40vw;
  max-width: 45vw;
  width: 100%;
  color: #fff;
  text-align: left;
  font-size: 16px;
  background: #000;
}

.snip1577 *,
.snip1577:before,
.snip1577:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.snip1577 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

.snip1577:before,
.snip1577:after {
  position: absolute;
  top: 20px;
  right: 20px;
  content: '';
  background-color: rgba(255, 255, 255, 0.171);
  z-index: 1;
  opacity: 0;
}

.snip1577:before {
  width: 0;
  height: 1px;
}

.snip1577:after {
  height: 0;
  width: 1px;
}

.snip1577 figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
}

.snip1577 h3,
.snip1577 h4 {
  margin: 0;
  font-size: 1.1em;
  font-weight: normal;
  opacity: 0;
}

.snip1577 h4 {
  font-size: .8em;
  text-transform: uppercase;
}

.snip1577 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1577:hover img,
.snip1577.hover img {
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  opacity: 0.2;
}

.snip1577:hover:before,
.snip1577.hover:before,
.snip1577:hover:after,
.snip1577.hover:after {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.snip1577:hover:before,
.snip1577.hover:before {
  width: 40px;
}

.snip1577:hover:after,
.snip1577.hover:after {
  height: 40px;
}

.snip1577:hover h3,
.snip1577.hover h3,
.snip1577:hover h4,
.snip1577.hover h4 {
  opacity: 1;
}

.snip1577:hover h3,
.snip1577.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.snip1577:hover h4,
.snip1577.hover h4 {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

.footer{
  background-color: #333;
  color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 3em;
  padding: 1rem 0;
}

